$color1: #211A1D;
$color2: #FFD400;
$color3: #6320EE;
$color4: #8075FF;
$color5: #F8F0FB;
$mobile-small-extra-width-only: 340px;
$mobile-small-width: 480px;
$mobile-middle-width: 600px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 991px;
$desktop-width: 992px;
$full-desktop-width-only: 1199px;
$full-desktop-width: 1200px;
$fonts: "Open Sans", "Arial", sans-serif;
